.mainContainer {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  padding: 8px;
  overflow-y: scroll;
  background: rgb(246, 243, 243);
  margin-bottom: 10px;
}
.mainContainer label {
  font-size: 14px;
  margin-top: 18px;
}
.mainContainer::-webkit-scrollbar {
  display: none;
}
.profile_wrapper {
  margin: auto;
}
.profile_img_wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  border: 4px solid rgb(213, 216, 213);
  border-radius: 50%;
  /* // margin-bottom: 2px; */
  margin-top: 3px;
  display: inline-block;
  cursor:pointer;
}

.profile_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile_img_wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* // background: ; */
  z-index: -1;
  width: calc(100% + 13px);
  height: calc(100% + 13px);
  border-radius: 50%;
}
.addProfileIcon {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: rgb(79, 79, 79);
  background-color: rgb(213, 216, 213);
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* // margin: 5px; */
  z-index: 2;
}

/* // for profile picture */

.scrollable {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background: rgb(246, 243, 243);
  color:black;
  border-bottom: 1px solid gray;
  transition: all .25s linear;
}

.list-unstyled li:hover {
  background:rgb(193, 203, 193);
  color: black;
  transform: translate(.6em, -.6em);
  transition: all .25s linear;
  /* // box-shadow: .1em .1em .1em #e1e1e1; */
}

.list-unstyled li span.icon-wrapper {
  display: inline-block;
  width: 30px;
  text-align: center;
  /* // font-size: 1.5em; */
  margin-right: 10px;
}

/* // .list-unstyled li span.item-name {
//   flex: 1;
// } */

.list-unstyled li:hover:before,
.list-unstyled li:hover:after {
  transition: all .25s linear;
}

.list-unstyled li:before {
  content: '';
  position: absolute;
  transition: all .25s linear;
  width: .5em;
  height: 2.5em;
  top: .25em;
  left: -.5em;
  transform: skewY(-45deg);
}

.list-unstyled li:after {
  content: '';
  position: absolute;
  transition: all .25s linear;
  width: .5em;
  height: 4em;
  /* // background: #181818; */
  bottom: -2.25em;
  left: 1.5em;
  transform: rotate(90deg) skew(0, 45deg);
}

.list-unstyled.sub-menu {
  padding-left: 40px; /* You can adjust the indentation level by changing this value */
}
.list-unstyled.components .separation-line {
  border-bottom: 1px solid #ccc; /* Customize the line color and style */
  margin-bottom: 10px; /* Adjust the margin as needed */
  padding-bottom: 10px; /* Adjust the padding as needed */
}


