<div class="container-fluid ">
    <div class="row p-2 fixed-row">
        <div class="col-lg-3 col-md-3 col-sm-6 p-2">
            <div class="card">
                <div class="card-body text-center bg-c-blue">
                    <div class="card-title d-block">
                        <i class="bi bi-people d-inline"></i>&nbsp;
                        <h5 class="d-inline">Total Customers</h5>
                    </div>
                    <h5 class="text-light">123</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 p-2">
            <div class="card">
                <div class="card-body bg-c-green">
                    <div class="card-title text-center d-block">
                        <i class="bi bi-card-list d-inline"></i>&nbsp;
                        <h5 class="d-inline">Requests</h5>
                    </div>
                    <h6 class="text-light">Pending:1</h6>
                    <h6 class="text-light">Approved:23</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 p-2">
            <div class="card">
                <div class="card-body text-center bg-c-yellow">
                    <div class="card-title  d-block">
                        <i class="bi bi-bell d-inline"></i>&nbsp;
                        <h5 class="d-inline">Notifications</h5>
                    </div>
                    <h5 class="text-light">23</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 p-2">
            <div class="card">
                <div class="card-body  bg-c-pink">
                    <div class="card-title text-center d-block">
                        <i class="bi bi-currency-dollar d-inline"></i>
                        <h5 class="d-inline">Total Expensis</h5>
                        <h6>Monthly:$100</h6>
                        <h6>Yearly:$1000</h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row scrollable-row">
        <div class="col-lg-8 col-md-12 col-sm-12 mt-3">
            <div class="card">

                <div class="card-body barChart">
                    <canvas id="barChart">{{barChart}}</canvas>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 p-3">
            <div class="card">
                <div class="card-body pieChart">
                    <canvas id="pieChart">{{pieChart}}</canvas>
                </div>
            </div>
        </div>
    </div>
</div>