
    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">bankmanagement352@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 5589 55488 55</span></i>
          </div>
          <div class="social-links d-none d-md-flex align-items-center">
            <a  class="twitter"><i class="bi bi-twitter"></i></a>
            <a  class="facebook"><i class="bi bi-facebook"></i></a>
            <a  class="instagram"><i class="bi bi-instagram"></i></a>
            <a  class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </section><!-- End Top Bar -->
    
      <header id="header" class="header d-flex align-items-center">
    
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          <a  class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Alias<span>.</span></h1>
          </a>
          <!-- <nav id="navbar" class="navbar">
            <ul>
              <li><a href="#hero">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Drop Down 2</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>.navbar -->
    
          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
        </div>
      </header><!-- End Header -->
      <!-- End Header -->
    
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="hero">
        <div class="container position-relative">
          <div class="row gy-5" data-aos="fade-in">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
              <h2>Welcome to <span>Alies Bank</span></h2>
              <p>We prioritize your financial well-being, offering solutions that cater to your unique needs</p>
              <div class="d-flex justify-content-center justify-content-lg-start">
                <a routerLink="/account" class="btn-get-started me-3">Get Account</a>
                <a routerLink="/userloan" class="btn-get-started">Loans</a>

              </div>


            </div>
            <div class="col-lg-6 order-1 order-lg-2">
              <img src="assets/img/bank.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
            </div>
          </div>
        </div>
    
        <div class="icon-boxes position-relative">
          <div class="container position-relative">
            <div class="row gy-4 mt-5">
    
              <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-easel"></i></div>
                  <h4 class="title"><a routerLink="/userloan" class="stretched-link">Apply For Loans</a></h4>
                </div>
              </div><!--End Icon Box -->
    
              <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-gem"></i></div>
                  <h4 class="title"><a  class="stretched-link">Best Offres</a></h4>
                </div>
              </div><!--End Icon Box -->
    
              <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-geo-alt"></i></div>
                  <h4 class="title"><a  class="stretched-link">Srinagar</a></h4>
                </div>
              </div><!--End Icon Box -->
    
              <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">
                  <div class="icon"><i class="bi bi-command"></i></div>
                  <h4 class="title"><a  class="stretched-link">Secure Banking Services</a></h4>
                </div>
              </div><!--End Icon Box -->
    
            </div>
          </div>
        </div>
    
      </section>
      <!-- End Hero Section -->

    
      <main id="main">

            <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Loans and Offers</h2>
          <p>Discover our competitive interest rates and exclusive offers for your financial needs.</p>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Home Loan</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>%</sup>10<span> Interest Rate</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Low interest rates for your financial needs</li>
                <li><i class="bi bi-check"></i> Flexible repayment options</li>
                <li><i class="bi bi-check"></i> Quick approval process</li>
                <li class="na"><i class="bi bi-x"></i> <span>No hidden fees</span></li>
                <li class="na"><i class="bi bi-x"></i> <span>Exclusive offers for loyal customers</span></li>
              </ul>
              <div class="text-center"><a routerLink="/userloan" class="buy-btn">Apply Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Business Loan</h3>
              <div class="icon">
                <i class="bi bi-airplane"></i>
              </div>

              <h4><sup>%</sup>7<span> Interest Rate</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Competitive interest rates for your financial needs</li>
                <li><i class="bi bi-check"></i> Flexible repayment options</li>
                <li><i class="bi bi-check"></i> Quick approval process</li>
                <li><i class="bi bi-check"></i> No hidden fees</li>
                <li><i class="bi bi-check"></i> Exclusive offers for loyal customers</li>
              </ul>
              <div class="text-center"><a routerLink="/userloan" class="buy-btn">Apply Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Education Loans</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>%</sup>11<span> Interest Rate</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Competitive rates to meet your financial goals</li>
                <li><i class="bi bi-check"></i> Flexible terms and conditions</li>
                <li><i class="bi bi-check"></i> Fast application processing</li>
                <li><i class="bi bi-check"></i> Transparent fee structure</li>
                <li><i class="bi bi-check"></i> Exclusive promotions for valued clients</li>
              </ul>
              <div class="text-center"><a routerLink="/userloan" class="buy-btn">Apply Now</a></div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section><!-- End Pricing Section -->
    
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
        
            <div class="section-header">
              <h2>About Our Bank</h2>
              <p>Discover the excellence of our services and our unwavering commitment to your financial success.</p>
            </div>
        
            <div class="row gy-4">
              <div class="col-lg-6">
                <h3>Providing Outstanding Financial Solutions</h3>
                <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
                <p>We are dedicated to providing reliable, secure, and innovative financial solutions. Our commitment to excellence is reflected in every aspect of our services. Enjoy the benefits of our trusted banking experience.</p>
                <p>At our bank, you can expect nothing less than exceptional service. We take pride in meeting your financial needs with precision and care. Your financial well-being is our top priority, and we go above and beyond to ensure your satisfaction.</p>
              </div>
              <div class="col-lg-6">
                <div class="content ps-0 ps-lg-5">
                  <p class="fst-italic">
                    We are driven by the mission to provide you with the best banking experience, supported by the latest technology and a commitment to your financial success.
                  </p>
                  <ul>
                    <li><i class="bi bi-check-circle-fill"></i> Trustworthy and secure banking solutions.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Exceptional customer service and personalized support.</li>
                    <li><i class="bi bi-check-circle-fill"></i> Innovative financial products and services tailored to your needs.</li>
                  </ul>
                  <p>
                    Your financial well-being is our priority, and we strive to create a seamless banking experience for you. We are here to help you achieve your financial goals and dreams.
                  </p>
        
                  <div class="position-relative mt-4">
                    <img src="assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                    <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </section>
        <!-- End About Us Section -->
    


    
        <!-- ======= Call To Action Section ======= -->
        <section id="call-to-action" class="call-to-action">
          <div class="container text-center" data-aos="zoom-out">
            <a  class="glightbox play-btn"></a>
            <h3>Explore Our Banking App</h3>
            <p>Experience the future of banking with our innovative app, designed to make your financial life easier and more convenient. Join us today and revolutionize the way you manage your finances.</p>
            <a class="cta-btn" >Customer Care Service</a>
          </div>
        </section><!-- End Call To Action Section -->
    
        <!-- ======= Our Services Section ======= -->
        <section id="services" class="services sections-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>Our Banking Services</h2>
              <p>Discover a range of services tailored to meet your financial needs and provide a seamless banking experience.</p>
            </div>
    
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
    
              <div class="col-lg-4 col-md-6">
                <div class="service-item  position-relative">
                  <div class="icon">
                    <i class="bi bi-activity"></i>
                  </div>
                  <h3>Account Management</h3>
                  <p>Manage your accounts efficiently and securely. Access your balances, transactions, and more with ease.</p>
                  <a  class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi bi-broadcast"></i>
                  </div>
                  <h3>Online Banking</h3>
                  <p>Experience the convenience of online banking. Access your accounts and perform transactions from anywhere, anytime.</p>
                  <a  class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi bi-easel"></i>
                  </div>
                  <h3>Loan Services</h3>
                  <p>Need financial assistance? Discover our flexible loan options designed to meet your borrowing needs.</p>
                  <a  class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi bi-bounding-box-circles"></i>
                  </div>
                  <h3>Mobile Banking</h3>
                  <p>Access your accounts and banking services on the go with our user-friendly mobile banking app.</p>
                  <a  class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi bi-calendar4-week"></i>
                  </div>
                  <h3>Customer Support</h3>
                  <p>Our dedicated support team is here to assist you with any banking inquiries or issues you may have.</p>
                  <a  class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End Service Item -->
    
              <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative">
                  <div class="icon">
                    <i class="bi bi-chat-square-text"></i>
                  </div>
                  <h3>Expert Financial Guidance</h3>
                  <p>Get expert advice and guidance from our seasoned professionals. We're here to help you make informed financial decisions and achieve your goals.</p>

                  <a class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                </div>
              </div><!-- End Service Item -->
    
            </div>
    
          </div>
        </section><!-- End Our Services Section -->


    

    
        <!-- ======= Our Team Section ======= -->
        <section id="team" class="team">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>Our Team</h2>
              <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
            </div>
    
            <div class="row gy-4">
    
              <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                  <img src="assets/img/prs.jpg" class="img-fluid" alt="">
                  <h4>Shaista</h4>
                  <span>Web Developer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-xl-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                  <img src="assets/img/prs.jpg" class="img-fluid" alt="">
                  <h4>Muneeza</h4>
                  <span>Content Writer</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End Team Member -->
    
              <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                  <img src="assets/img/prm.jpg" class="img-fluid" alt="">
                  <h4>Sarim</h4>
                  <span>Technical Support</span>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div><!-- End Team Member -->

    
            </div>
    
          </div>
        </section><!-- End Our Team Section -->
            <!-- ======= Testimonials Section ======= -->
            <section id="testimonials" class="testimonials">
              <div class="container" data-aos="fade-up">
    
                <div class="section-header">
                  <h2>Customer Testimonials</h2>
                  <p>Discover what our valued customers have to say about their experiences with our bank. We take pride in serving your financial needs.</p>
    
                </div>
    
                <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                  <div class="swiper-wrapper">
        
                    <div class="swiper-slide">
                      <div class="testimonial-wrap">
                        <div class="testimonial-item">
                          <div class="d-flex align-items-center">
                            <img src="assets/img/prs.jpg" class="testimonial-img flex-shrink-0" alt="">
                            <div>
                              <h3>Shaista</h3>
                              <h4>Ceo &amp; Founder</h4>
                              <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                              </div>
                            </div>
                          </div>
                          <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            Experience seamless banking, where your financial well-being is our priority. Benefit from our expert services, secure transactions, and personalized support.
                            <i class="bi bi-quote quote-icon-right"></i>
                          </p>
                        </div>
                      </div>
                    </div><!-- End testimonial item -->
        
    
    
    
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
        
              </div>
            </section><!-- End Testimonials Section -->
    

    
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faqs" class="faq">
          <div class="container" data-aos="fade-up">
        
            <div class="row gy-4">
        
              <div class="col-lg-4">
                <div class="content px-xl-5">
                  <h3>Frequently Asked <strong>Questions</strong></h3>
                  <p>
                    Find answers to common questions related to our banking services and offerings.
                  </p>
                </div>
              </div>
        
              <div class="col-lg-8">
        
                <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">
        
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                        <span class="num">1.</span>
                        How to open an account with our bank?
                      </button>
                    </h3>
                    <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                        We offer a straightforward account opening process. You can visit our nearest branch or complete the online application for account setup.
                      </div>
                    </div>
                  </div><!-- # FAQ item-->
        
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                        <span class="num">2.</span>
                        What are the available loan options?
                      </button>
                    </h3>
                    <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                        We offer a variety of loan options, including personal loans, home loans, and business loans. Contact our team for details on interest rates and eligibility.
                      </div>
                    </div>
                  </div><!-- # FAQ item-->
        
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                        <span class="num">3.</span>
                        How can I access online banking?
                      </button>
                    </h3>
                    <div id="faq-content-3" class an="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                        Accessing online banking is easy. Simply visit our website and log in with your account credentials. You can perform transactions, view balances, and more.
                      </div>
                    </div>
                  </div><!-- # FAQ item-->
        
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                        <span class="num">4.</span>
                        What is our customer support contact?
                      </button>
                    </h3>
                    <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                        Our customer support team is available 24/7. You can reach us at [Your Contact Information] for any banking inquiries or assistance.
                      </div>
                    </div>
                  </div><!-- # FAQ item-->
        
                  <div class="accordion-item">
                    <h3 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                        <span class="num">5.</span>
                        What security measures are in place for online transactions?
                      </button>
                    </h3>
                    <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                      <div class="accordion-body">
                        We employ state-of-the-art encryption and security protocols to ensure the safety of your online transactions and personal information.
                      </div>
                    </div>
                  </div><!-- # FAQ item-->
        
                </div>
        
              </div>
            </div>
        
          </div>
        </section>
        <!-- End Frequently Asked Questions Section -->

    
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>Contact</h2>
              <p>Experience a wealth of financial opportunities and expert guidance to help you make the most of your money.</p>
            </div>
    
            <div class="row gx-lg-0 gy-4">
    
              <div class="col-lg-4">
    
                <div class="info-container d-flex flex-column align-items-center justify-content-center">
                  <div class="info-item d-flex">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                      <h4>Location:</h4>
                      <p>Amar Sing College 190001</p>
                    </div>
                  </div><!-- End Info Item -->
    
                  <div class="info-item d-flex">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                      <h4>Email:</h4>
                      <p>bankmanagement352@gmail.com</p>
                    </div>
                  </div><!-- End Info Item -->
    
                  <div class="info-item d-flex">
                    <i class="bi bi-phone flex-shrink-0"></i>
                    <div>
                      <h4>Call:</h4>
                      <p>+91 5589 55488 55</p>
                    </div>
                  </div><!-- End Info Item -->
    
                  <div class="info-item d-flex">
                    <i class="bi bi-clock flex-shrink-0"></i>
                    <div>
                      <h4>Open Hours:</h4>
                      <p>Mon-Sat: 11AM - 23PM</p>
                    </div>
                  </div><!-- End Info Item -->
                </div>
    
              </div>
    
              <div class="col-lg-8">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
              </div><!-- End Contact Form -->
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">
    
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="index.html" class="logo d-flex align-items-center">
                <span>Alies Bank</span>
              </a>
              <p>We prioritize your financial well-being, offering solutions that cater to your unique needs and help you achieve your financial goals.</p>
              <div class="social-links d-flex mt-4">
                <a  class="twitter"><i class="bi bi-twitter"></i></a>
                <a  class="facebook"><i class="bi bi-facebook"></i></a>
                <a  class="instagram"><i class="bi bi-instagram"></i></a>
                <a  class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
    
            <div class="col-lg-2 col-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><a >Home</a></li>
                <li><a >About us</a></li>
                <li><a >Services</a></li>
                <li><a >Terms of service</a></li>
                <li><a >Privacy policy</a></li>
              </ul>
            </div>
    
            <div class="col-lg-2 col-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Product Management</a></li>
                <li><a href="#">Marketing</a></li>
                <li><a href="#">Graphic Design</a></li>
              </ul>
            </div>
    
            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
              <h4>Contact Us</h4>
              <p>
                Amar Singh Colege <br>
                Jammau And Kashmir, 190001<br>
                India <br><br>
                <strong>Phone:</strong> +91<br>
                <strong>Email:</strong> bankmanagement352@gmail.com<br>
              </p>

            </div>
    
          </div>
        </div>
    
        <div class="container mt-4">
          <div class="copyright">
            &copy; Copyright <strong><span>Shaista</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a >Shaista,Muneeza,Sarim</a>
          </div>
        </div>
    
      </footer><!-- End Footer -->
      <!-- End Footer -->
    
      <a  class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- <div id="preloader"></div> -->
    
  
