
body {
    background-color: #f8f9fa;
}
.navbar {
    background-color: #343a40;
}
.jumbotron {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
  }
  
  .text-white {
    color: #fff;
  }
.card {
    border: none;
}
.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}