<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Loans</h2>
        </div>
        <!-- <div class="col-6 text-end">
        <button class="btn btn-success" (click)="openAddEditModal(null)">Add account</button>
      </div> -->
    </div>
    <div class="row">
        <div class="col-lg-12 table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Loan Number</th>
                        <th>Loan Type</th>
                        <th>Amount</th>
                        <th>Rate</th>
                        <th>Term</th>
                        <th>Colateral</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>

                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loanItem of loansVMObj.loansDataList">
                        <td>User123</td>
                        <td>{{loanItem.loanNumber}}</td>
                        <td>{{ loanItem.loanType }}</td>
                        <td>{{ loanItem.amount }}</td>
                        <td>{{loanItem.interestRate}}</td>
                        <td>{{loanItem.term}}</td>
                        <td>{{loanItem.collateral}}</td>
                        <td>{{loanItem.startDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{loanItem.endDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{loanItem.status}}</td>
                        <td>
                            <button class="btn btn-primary"
                                (click)="openAddEditModal(loanItem._id)">Status</button>&nbsp;&nbsp;
                            <button class="btn btn-danger" (click)="deleteLoan(loanItem._id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal expandIn" tabindex="-1" role="dialog" [ngStyle]="{'display':loansVMObj.displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-11">
                        <h5> Change Loan Status </h5>
                    </div>
                    <button type="button" class="btn-close" (click)="closePopup()"></button>
                </div>
                <div class="modal-body">
                    <div class="row">



                        <div class="col-lg-12    col-md-12  col-sm-12    p-2">
                            <div class="form-outline">
                                <select class="form-select " [(ngModel)]="loansVMObj.loanDataObj.status"
                                    aria-label="Default select example" #SelectRole="ngModel">
                                    <option value="{{loansVMObj.loanDataObj.status}}" disabled selected>Change Status </option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>

                            </div>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-end">
                            <button class="btn btn-warning" (click)="updateloanStatus()">Update Status</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>